<a-scene>
    <a-assets>
        <a-asset-item id="festival" src="assets/festival.gltf"></a-asset-item>
        <img id="sky" src="assets/sky_day.jpg">
    </a-assets>
    
    <a-sky src="#sky"></a-sky>
    <a-entity gltf-model="#festival" scale="20 20 20" position="0 -.1 0"></a-entity>
    <a-entity light="intensity: 3;" position="40 19 22"></a-entity>
    <a-entity light="intensity: 2; type: point" position="-55 60 -6"></a-entity>
</a-scene>